html {
    line-height: 1.15;
    /* 1 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
    height: 100%;
    display: flex;
}

/* Sections
   ========================================================================== */
/**
  * Remove the margin in all browsers.
  */
body {
    margin: 0;
    color: white;
    font-family: 'Rajdhani', sans-serif;
    display: flex;
    flex: 1;
}

.svg-container {
    width: 45%;
}

.hex {
    position: relative;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-delay: var(--anim-delay);
    transform-origin: 50% 50%;
    animation-name: growIn;
}

[data-index="1"] {
    --anim-delay: 300ms;
}

[data-index="2"] {
    --anim-delay: 400ms;
}

[data-index="3"] {
    --anim-delay: 500ms;
}

[data-index="4"] {
    --anim-delay: 600ms;
}

[data-index="5"] {
    --anim-delay: 700ms;
}

[data-index="6"] {
    --anim-delay: 800ms;
}

[data-index="7"] {
    --anim-delay: 900ms;
}

@keyframes growIn {

    0%,
    100% {
        opacity: 0;
        transform: scale(0.1, 0.1);
    }

    20%,
    70% {
        opacity: 1;
        transform: scale(1, 1);
    }
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.load {
    transform: translateY(0%);
    animation: loading-text 2s infinite ease-in-out;
    transition: 0.5s ease-in-out;
    opacity: 0;
    -webkit-transition: 0.5s ease-in-out;
    -moz-transition: 0.5s ease-in-out;
    -ms-transition: 0.5s ease-in-out;
    -o-transition: 0.5s ease-in-out;
}


@keyframes loading-text {
    0% {
        transform: translateY(0%);
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
}

    20% {
        transform: translateY(-60%);
        opacity: 1;
        -webkit-transform: translateY(-60%);
        -moz-transform: translateY(-60%);
        -ms-transform: translateY(-60%);
        -o-transform: translateY(-60%);
}

    40% {
        transform: translateY(-100%);
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -moz-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        -o-transform: translateY(-100%);
}

    60% {
        opacity: 0;
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}