.ant-menu-light.ant-menu-horizontal>.ant-menu-item::after,
:where(.css-dev-only-do-not-override-acm2ia).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu::after {
  border-bottom: 7px solid #101C26;
  inset-inline: 3px;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after,
.ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected::after {
  border-bottom: 7px solid #00D8FF;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item:hover::after {
  border-bottom: 7px solid #00D8FF;
}


.ant-select-dropdown {
  background: #152A36;
  border-radius: 0;
}

.ant-select-dropdown .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
  background: #101C26;
  color: #101C26;
  border-radius: 0;
  display: flex;
  align-items: center;
}

.ant-select-dropdown .ant-select-item-option-content {
  font-size: 16px;
  text-transform: uppercase;
  color: white;
}

.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  background: #152A36;
  border-radius: 0;
  border: 0;
  color: #00D8FF;
  font-size: 16px;
  text-transform: uppercase;
}

.ant-select .ant-select-arrow {
  color: #00D8FF;
}

.ant-select-single.ant-select-open span.ant-select-selection-item {
  color: white;
}


.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected,
:where(.css-dev-only-do-not-override-acm2ia).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected {
  color: #00D8FF;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item-selected::after,
:where(.css-dev-only-do-not-override-acm2ia).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-selected::after {
  border-bottom-color: #00D8FF;
}

.ant-menu-light .ant-menu-item:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected),
:where(.css-dev-only-do-not-override-acm2ia).ant-menu-light .ant-menu-submenu-title:hover:not(.ant-menu-item-selected):not(.ant-menu-submenu-selected) {
  color: #00D8FF;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item:hover::after,
:where(.css-dev-only-do-not-override-acm2ia).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu:hover::after,
:where(.css-dev-only-do-not-override-acm2ia).ant-menu-light.ant-menu-horizontal>.ant-menu-item-active::after,
:where(.css-dev-only-do-not-override-acm2ia).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-active::after,
:where(.css-dev-only-do-not-override-acm2ia).ant-menu-light.ant-menu-horizontal>.ant-menu-item-open::after,
:where(.css-dev-only-do-not-override-acm2ia).ant-menu-light.ant-menu-horizontal>.ant-menu-submenu-open::after {
  border-bottom-color: #00D8FF;
}

.ant-menu-light.ant-menu-horizontal>.ant-menu-item {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  flex-direction: column;
  top: 2px;
  font-size: 16px;
  text-transform: uppercase;
  border-left: 1px solid #101C26;
  border-radius: 0;
  min-width: 125px;
  text-align: center;
}

li.ant-menu-overflow-item.ant-menu-overflow-item-rest.ant-menu-submenu.ant-menu-submenu-horizontal {
  height: 100%;
  border-left: 1px solid #101C26;
  margin: 0;
  border-radius: 0;
  max-width: 125px;
  width: 100%;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

li.ant-menu-overflow-item.ant-menu-overflow-item-rest.ant-menu-submenu.ant-menu-submenu-horizontal {
  height: 100%;
  border-left: 1px solid #101C26;
  margin: 0;
  border-radius: 0;
  min-width: 60px;
  text-align: center;
  display: flex;
  align-items: center;
}

/* .anticon svg {
    width: 35px;
    height: 35px;
  } */

.ant-menu-submenu-title {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.ant-menu-submenu-popup .ant-menu-vertical.ant-menu-sub {
  width: 100%;
  min-width: auto;
  max-width: initial;
  display: flex;
  background: #183645;
  align-items: center;
  top: 12px;
  position: relative;
  border-radius: 0;
}

.ant-menu-submenu.ant-menu-submenu-popup.ant-menu-light {
  width: 100%;
  background: transparent;
}

.ant-menu-submenu-popup .ant-menu-vertical>.ant-menu-item {
  border-right: 1px solid #101C26;
  height: 60px;
  border-radius: 0;
  margin: 0;
  font-size: 16px;
  padding-top: 11px;
  border-bottom: 5px solid #101C26;
  text-align: center;
  inset-inline: 3px;
}

.ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: transparent;
  border-bottom: 6px solid #00D8FF;
  color: #00D8FF;
  border-radius: 0;
  inset-inline: 3px;
}

.ant-menu-submenu-title {
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}

.ant-menu-light {
  color: #00D8FF;
}

.ant-menu .ant-menu-item .ant-menu-item-icon+span {
  margin-inline-start: 10px;
  margin-inline-end: 10px;
}

.ant-switch {
  border-radius: 0;
  background: #0B5567 !important;
  width: 100px;
  height: 28px;
}

.ant-switch .ant-switch-handle::before {
  border-radius: 0;
  background: #00D8FF;
}

.ant-switch.ant-switch-checked {
  background: #0B5567;
}

.ant-switch.ant-switch-checked:hover:not(.ant-switch-disabled) {
  background: #0B5567;
}

.ant-switch .ant-switch-handle {
  width: 45px;
  height: 24px;
}

.ant-switch.ant-switch-checked .ant-switch-handle {
  inset-inline-start: calc(100% - 47px);
}

.ant-popover .ant-popover-inner {
  border-radius: 0;
  background: black;
  color: white;
  border: 1px solid #00d8ff;
}

.ant-popover .ant-popover-title {
  font-size: 16px;
  color: white;
}

.ant-popover .ant-popover-arrow::before {
  background: #00d8ff;
}

path#-axis-line {
  stroke: #193745;
}

.item g>line {
  stroke: #00D8FF;
}

.ant-pagination.ant-pagination-simple .ant-pagination-simple-pager input {
  background: transparent;
  border: 1px solid #00d8ff;
  color: #00d8ff;
  border-radius: 0;
  width: 40px;
}

.ant-pagination {
  display: flex;
  align-items: center;
  justify-content: center;
}

button.ant-pagination-item-link {
  background: #181818 !important;
  line-height: 1;
}

li.ant-pagination-simple-pager {
  height: auto !important;
  font-weight: 400;
  color: #00d8ff;

}

span.ant-pagination-slash:before {
  content: 'OF';
  opacity: 1;
  color: #00d8ff;
}

span.ant-pagination-slash {
  color: transparent;
}

button.ant-pagination-item-link:hover {
  background: #00d8ff !important;
  font-weight: bold;
}


button.ant-pagination-item-link svg {
  width: 15px;
  height: 15px;
  fill: #00d8ff;
}

button.ant-pagination-item-link:hover svg {
  fill: white;
}


.ant-popover .ant-popover-inner-content {
  color: white
}

.ant-message-custom-content {
  display: flex;
  align-items: center;
}

span.anticon.anticon-check-circle svg {
  width: 20px;
  height: 21px;
  fill: #00D8FF;
}

.ant-drawer-body {
  display: flex;
  flex-direction: column;
}

.ant-message-notice .ant-message-notice-content {
  background: #00000057;
  color: white;
  border: 1px solid #00D8FF;
  backdrop-filter: blur(10px);
}

.ant-drawer .ant-drawer-content {
  background: #101C26;
  backdrop-filter: blur(5px);
}


.ant-drawer-left>.ant-drawer-content-wrapper {
  box-shadow: 0 0;
  padding: 15px;
}

.ant-drawer-mask {
  backdrop-filter: blur(5px);
}

.ant-modal .ant-modal-content {
  background: #000000c7;
  color: white;
  padding: 0;
}

.g2-tooltip {
  background: #000000c7 !important;
  box-shadow: 0 0 !important;
  color: white !important;
  backdrop-filter: blur(5px);
}

.ant-tooltip .ant-tooltip-inner {
  background: #000000;
  border: 1px solid #00D8FF;
}

.ant-result .ant-result-title {
  color: white;
}

.ant-result-icon svg {
  width: 100px;
  height: 100px;
}

.ant-tabs .ant-tabs-tab {
  border-right: 1px solid #18313D;
  color: #00D8FF;
  padding: 14px 20px;
  font-size: 16px;
}

.ant-tabs .ant-tabs-tab+.ant-tabs-tab {
  margin: 0;
}

.ant-tabs-nav {
  border: 1px solid #18313D;
  border-left: 0;
  border-right: 0;
  margin: 0!important;
}


.ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #00D8FF;
  text-shadow: 0 0;
}

.ant-tabs .ant-tabs-ink-bar {
  background: #00D8FF;
}


.ant-picker {
  border: 1px solid #18313D;
  background: transparent;
  border-radius: 0;
  width: 180px;
}

.ant-picker .ant-picker-input>input {
  color: #00D8FF;
}

.ant-picker .ant-picker-suffix {
  border-radius: 100%;
  background: transparent;
  color: transparent;
}

.ant-picker .ant-picker-clear {
  background: black;
}

span.ant-picker-clear svg {
  fill: #00D8FF;
  background: transparent;
}

.ant-picker:hover,
.ant-picker-focused {
  border-color: #00D8FF;
}

.ant-picker .ant-picker-suffix svg {
  fill: white;
}

.ant-picker .ant-picker-input>input::placeholder {
  color: white;
}

.ant-tabs-extra-content {
  padding-right: 10px;
}

.ant-tabs-content-holder {
  position: relative;
}

.ant-tabs-content.ant-tabs-content-top {
  position: absolute;
  height: 100%;
  overflow: auto;
}